@media screen and (min-height: 720px){
	body{
		height: 575px;
	}
	.wrapper {
		margin-top: 12.8%;
		margin-left: 53%; 
	}
}
@media screen and (min-width: 1126px){
	body{
		height: 530px;
	}
}
@media (min-width: 851px) and (max-width: 1125px){
	/*====NOTEBOOK====*/
	body{
		height: 535px;
	}
	.wrapper {
		margin-top: 14%;
		margin-left: 48%; 
	}
	.logo{
		max-width:450px;
		padding-left: 10%;
	}
	img{
		width: 80%;
		margin-left: 9%;
		height: auto;
	}
	.bienvenida{
		font-size: 380%;
	}
}
@media (min-width: 750px) and (max-width: 850px){
	/*====TABLET====*/
	body{
		height: 535px;
	}
	.wrapper {
		margin-top: 15%;
		margin-left: 48%; 
	}
	.logo{
		max-width:380px;
		padding-left: 6%;
	}
	img{
		width: 80%;
		margin-left: 5%;
		height: auto;
	}
	.bienvenida{
		font-size: 340%;
	}
}
@media (min-width: 450px) and (max-width: 750px){
	/*====GAMA ALTA====*/
	body{
		height: 790px;
	}
	.wrapper {
		margin-left: 4%; 
	}
	.logo{
		margin-top: 10%;
		float:inherit;
		max-width:350px;
		padding-left: 17%;
	}
	img{
		width: 80%;
		margin-left: 17%;
		height: auto;
	}
	.bienvenida{
		font-size: 340%;
	}
}
@media screen and (max-width: 449px){
	/*====GAMA BAJA====*/
	body{
		height: 600px;
	}
	.form-signin {
		max-width: 300px;
		padding: 25px 15px;
	}
	.logo{
		float:left;
		padding-left: 12%;
	}
	img{
		margin-left: 18.3%;
	}
	.bienvenida{
		font-size: 290%;
		margin-top: 4%;
	}
	.wrapper {
		margin-left: 0;; 
	}
	.cancelar {
		margin-right: 1%;
	}
	.acceder, .cancelar {
		width: 48%;
		display: inline-block;
		margin-bottom: 10px;
	}
}